/* 
// 04.general
*/
@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap";

body {
    font-family: "Nunito", sans-serif;
}
::selection {
    background-color: $primary;
    color: $light;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
p {
    font-size: 18px;
    color: $secondary;
    font-weight: 500;
}
h1 {
    font-weight: 600 !important;
}
h2 {
    font-weight: 500 !important;
}


h4 {
    font-size: 25px !important;
    font-weight: 600;
}
h5,
h6 {
    font-size: 18px !important;
    font-weight: 600;
    text-transform: capitalize;
}
.logo {
    i {
        font-weight: normal !important;
    }
}
.hero-part {
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bg-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, #6e42c142, #3a41c447); 
        background-size: cover;
    background-repeat: no-repeat;
}
.bg-overlay1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #23a9a78a; 
    background-size: cover;
    background-repeat: no-repeat;
}

.title-sm {
    span {
        font-size: 14px;
        color: $warning;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $primary;
    background-size: 100% 40%;
    border-radius: 50%;
} 
.shape{
    position: absolute;
    bottom: 0;
}
.shape-1{
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
}