/* 
// 02.Helper
*/
.section {
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 50px 0px !important;
    }
}

.ls-1 {
    letter-spacing: 1px;
}
.ls-2 {
    letter-spacing: 2px;
}
.ls-3 {
    letter-spacing: 3px;
}
.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.lh-55{
    line-height: 55px;
    @media (max-width: 991px) {
        line-height: 40px;
    }
}